%p
  Hello #{@receiver_name},
%p
  Thank you for submitting your question to our staff. We will respond to your question by email.
%p
  Anytime you wish you can view your question online:
  = link_to 'your ticket', @ticket_path
%br
%br
Best regards,
Tech support team.