.successfully_created
  .container
    .bs-callout.bs-callout-info
      %h4
        Your ticket successfully saved!
        %br
        We will answer you as quickly as we can.
      %p
        = link_to 'Ask question?', new_ticket_path