.unassigned-tickets
  .container
    %input{ type: 'text',
            class: 'form-control search',
            placeholder: 'Search by subject',
            onkeyup: 'Ticket.search(this);' }
    #question-list
      = render partial: 'question', collection: @tickets